   

    h2{
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    span{

        color: black;
    }

    strong{

        color:rgb(0, 0, 0);
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .btn-danger{

        cursor: pointer;
    }

    .front{

        
       /* background:url(img/fondo.jpg);*/
       background: url('../img/slider_01.jpg') center center no-repeat;
       background-size: cover;

    }
  
    .front_intro{
        height:100vh;
           
    }

    .front_intro h1{
      
        font-size: 3.5rem;
        color: white;
    }

    .font_intro{
         color: white;
    }

   .navbar-light{
  
       background:white;
       
   }

    .navbar-brand{

        font-family: 'Satisfy', cursive;
        font-size: 3rem;
        color: white;
     
    }
    
  
    .navbar {
        padding: 0 3%;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      
    }

    .navbar-nav a{
        font-size: 1rem;
        
    }

    /*.navbar-nav a:visited{
        color: white !important;
    }
*/
    .navbar-nav a:hover{

        color: rgb(0, 42, 97) !important;
   
    }


    .nav-item a:hover{

        position:relative;
        border-bottom:1px solid  rgb(0, 42, 97);

    }

    .navbar-nav ul li a, li a:visited {
        color:black !important;
    }

    

    .navbar-light .navbar-toggler{

        border: none;
        padding: 20px;
    }

    .navbar-light .navbar-toggler-icon{

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    
    /* CSS PROPEIDADES */

    .buscador{

       
      background:#f05234;
      padding: 20px;
    }

    .btn{
        background: #CEFF00;
        border: none;
        color:black;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .form-control{
        border-radius: 0;
        -webkit-appearance: none;
        border: 0px solid rgba(0,0,0,.15);
    }


    .fa-facebook, .fa-instagram{
        margin: 5px;
        color:white;
    }


    .propiedades img{

        display: block;
        padding-right: 15px;
    }
    .encabezado{

        
       width: 100%;
       padding: 10px;
       background: #EE6C4D;
       color: white;
    }

    .descripcion{

        width: 100%;
        background: rgb(240, 240, 240);
      
    }

    .caracteristicas{

        width: 50%;
        padding: 10px;
    }

    .card{
        padding: .75rem;
    }
    /* CSS PROPEIDADES */

    .precio{

        background: #CEFF00;
        color: black;
        border: 0px solid;
    }


    footer{

        background: black;
        width: 100%;
        height: auto;
        padding:20px;
    }

    .texto-final{

        color: white;
    }

    .valor{
        background: #CEFF00;
        color: black;
        padding:20px;
        width: 20%;
        text-align:end;
    }

    .direccion{

        width: 100%;

    }

    .texto-final{

        list-style: none;
        padding-top:10px;
    }

    .blog{
        padding-top:150px;
        
    }

    .sidebar{

        
        padding: 1rem;
        margin: 0 -1rem 1rem;
        
    }

    .lista-archivos{

        list-style: none;
        padding:0px;
    }

    .lista-archivos li a{

        font-size: 1.4rem;
        padding:2px
    }

    .portada-blog{

        
    }

    .btn-success-formuario{
    background-color: #fd4513 !important;
    border-color: #fd4513 !important;
    color: #FFF !important;
}

.input_text{
    border: 1px solid #d6d6d6 !important;
    margin-bottom: 10px !important;
    box-shadow: none !important;
}

.label_form{
    color: #232323;
    font-weight: 600;
    margin-bottom: 10px;
}